.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.connect-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.connect-button:hover {
  background-color: #0056b3;
}

.connect-button:focus {
  outline: none;
}

.messaging-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages-panel {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
}

.message {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 40%;
  font-size: 16px;
}

.message.sent {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  margin-left: 55%;
}

.message.received {
  align-self: flex-start;
  margin-right: 45%;
}

.input-panel {
  display: flex;
  align-items: center;
  padding: 20px;
}

.input-panel input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.input-panel button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
}
